{% extends 'base.html' %}

{% block content %}
<div class="container-fluid row" style="width:100%; margin:0; padding:0;">
    <div class="containerleft">
    </div>
    <div class="containerbody">
        <div class="container" style="margin:0,25px,25px,25px; width:100%;">
            <section id="recently">
                <div class="col">
                    <div class="row">
                        <div style="border-radius: 5px; border:1px dashed rgb(91,155,213); width:100%; ">
                        
                            <h1>게시물 등록</h1>

                            <form method="POST" action="{% url 'board'%}" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="mb-3">
                                    <div  style=" width: 200px;">
                                            상품 구매 가격 <input class="form-control" name="order_price" type="text" value="" style="margin-bottom: 5px;">
                                            카테고리
                                            <select class="form-control" id="country" required>
                                              <option value="">카테고리1</option>
                                              <option value="">카테고리2</option>
                                              <option value="">카테고리3</option>
                                              <option value="">카테고리4</option>
                                              <option value="">카테고리5</option>
                                              <option value="">카테고리6</option>
                                              <option value="">카테고리7</option>
                                              <option value="">카테고리8</option>
                                            </select>
                                    </div>
                                    <br>
                                    본문을 작성해주세요!
                                    <input type="email" class="form-control" name="board_title" placeholder="게시물 제목을 입력해주세요."><br>
                                    <textarea class="form-control"  rows="15" name="board_body" placeholder="본문 내용을 입력해주세요"></textarea>

                                </div>
                                <div style="text-align: center;">
                                        <input class="btn btn-primary" type="submit" value="등록">
                                        <a href="./" class="btn btn-primary">취소</a>
                                </div>
                                
                            </form>
                            <form enctype="multipart/form-data" action="" method="post"> <!-- Do not forget to add: enctype="multipart/form-data" -->
                                {% csrf_token %}
                                {{ form }}
                                <input type="submit" value="Save">
                            </form>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <div class="containerright"></div>
</div>
{% endblock %}