{% extends 'base.html' %}


    {% block content %}
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <h1 style="text-align: center;">GaSiRi Let's get it! man~</h1>

    <div style="padding-top: 200px;">
    <table class="table table-hover">
        <thead>
        <tr style="text-align: center;">
            <th scope="col">순번</th>
            <th scope="col">글제목</th>
            <th scope="col">작성자</th>
            <th scope="col">작성일자</th>
        </tr>
        </thead>
        <tbody>
        {% for board in posts %}
        <tr onclick="location.href='{% url 'test' board.id %}'"  style="text-align: center;">
            <th scope="row">{{board.id}}</th>
            <td>{{board.title}}</td>
            <td>{{board.userName}}</td>
            <td>{{board.date}}</td>
        </tr>

        {%endfor%} 
        </tbody>
    </table>
    </div>

    <div >
        <div>
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    {%if posts.has_previous%}
                    <li class="page-item">
                        <a class="page-link" href="?page={{posts.previous_page_number}}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    {%endif%}
                    
                    {% for i in p_range %}
                    <li class="page-item"><a href="?page={{i}}" {% if posts.number == i %} class="page-link" {% endif %}>{{i}}</a></li>
                    {% endfor %}

                    {%if posts.has_next%}
                    <li class="page-item">
                        <a class="page-link" href="?page={{posts.next_page_number}}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                    {%endif%}

        </div>
        <button onclick="location.href='{% url 'board_create' %}'" type="button" class="btn btn-danger" style="float: right;">글쓰기</button>
    </div>

    {% endblock %}
