{% extends 'base.html' %}

{% block content %}
<style>
    .comment {
        margin: 20px 0px 20px 20px;
    }
</style>

    <div class="container" style="padding-top: 200px;">
        <h2>{{ board.title }}</h2>
        <p>{{ board.date }}</p>

        <br>
        <br>
        <div class="container" style=" margin:0,25px,25px,25px; width:100%;">
            <section id="recently">
                <div class="col">
                    <div class="row">
                        <div style="border-radius: 5px; border:1px dashed rgb(91,155,213); padding: 15px; width:100%; ">
                            <p>{{ board.body }}</p>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <br>
        <br>

        

        <a href="{% url 'board' %}">글목록</a>
    </div>

    <br>
    <br>

    <h4> 댓글</h4>

    <form method="POST" action="{% url 'comment_create' pk=board.pk%}">
        <div>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>   
        </div>
        <br>
        <div align='right'>
            <button type="button" class="btn btn-primary">등록</button>
        </div>
    </form>
    <!-- form action 구현 필요-->
    
    {% for comment in board.comments.all %}
        <div class="comment">
            <div class="date">
                <strong>{{ comment.author }}</strong>  
                {{ comment.created_date }}
            </div>
            <p>{{ comment.text|linebreaks }}</p>      
        </div>
    {% empty %}
        <p>No comments here yet :(</p>
    {% endfor %}
    
    
{% endblock %}