@charset "utf-8";
/* CSS Document */
 
body {
    margin: 0px; /* 언제나 전체 body에는 margin 값을 0으로 세팅해준다*/
    font-size: 18px;
    color: #FFF;
}
#box {
    position: relative;
    height: auto;
    margin: auto; /*레이아웃을 싸고 있는 box의 margin을 auto로 주면 중앙정렬 효과*/
    background-color: #F90;
}
#top {
    background-color: #333;
    height: 100px;
    position: relative;
}
#left {
    background-color: #09C;
    float: left;
    height: 500px;
    width: 15%;
    position: relative;
}
#main {
    background-color: #3C0;
    float: left;
    height: 500px;
    width: 85%;
    position: relative;
}
#bottom {
    background-color: #C0F;
    height: 70px;
    position: relative;
    clear: both; /* 상단의 흐름을 한번 끊어주기 위해 clear를 해준다.. -.-;;??*/
    float: left; /*새로운 흐름을 지정해줘야 깨지지 않는다*/
}
