{% extends 'base.html' %}

{% block content %}
<div class="container-fluid row" style="width:100%; margin:0; padding:0;">
   
    <div class="containerleft">
    </div>
    <div class="containerbody">
        <div class="container" style="margin:0,25px,25px,25px; width:100%;">
            <section id="recently">
                <div class="col">
                    <div class="row">
                        <div style="border-radius: 5px; border:1px dashed rgb(91,155,213); width:100%; ">
                            {% if error %}
                            {{ error }}
                            <br>
                            <br>
                            {% endif %}

                            <h1>Sign in</h1>

                            <form method="POST" action="{% url 'login'%}">
                                {% csrf_token %}
                                <br>아이디(ID): <input name="username" type="text" value=""><br>
                                <br>비밀번호(Password): <input name="password" type="password" value=""><br>
                                <br><input class="btn btn-primary" type="submit" value="Sign in">
                            </form>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <div class="containerright"></div>
    
</div>
{% endblock %}