{% if error %}
{{ error }}
<br>
<br>
{% endif %}

<h1>Sign Up!</h1>

<form method="POST" action="{% url 'signup'%}">

    {% csrf_token %}
    아이디(ID): <input name="username" type="text" value=""><br>
    비밀번호(Password): <input name="password1" type="password" value=""><br>
    비밀번호 확인(Confirm Password): <input name="password2" type="password" value=""><br>
    성별(Gender): <INPUT TYPE=RADIO NAME="gender" VALUE="M"> 남성(Man)
    <INPUT TYPE=RADIO NAME="gender" VALUE="W"> 여성(Woman)<br>
    성(Last Name):<input name="lastName" type="text" value=""><br>
    이름(First Name): <input name="firstName" type="text" value=""><br>
    생년월일(birthdate): <input name="birthdate" type="date" value=""><br>
    닉네임(Nickname): <input name="nickName" type="text" value=""><br>
    관리자아이디여부: <input name="is_superuser" type="checkbox" value="is_superuser"><br>

    <br>
    <input class="btn btn-primary" type="submit" value="Sign Up!">
</form>