{% extends 'base.html' %}

{% block content %}
<div class="container-fluid row" style="width:100%; margin:0; padding:0;">
    <div class="containerleft">
    </div>
    <div class="containerbody">
        
            <section class="login-block">
                    <div class="bodycontainer">
                    <div class="row">
                        <div style="border-radius: 5px; border:1px dashed rgb(91,155,213); width:100%; ">
                            <h1 style="text-align: center;">내가 쓴 게시글</h1>
                            <div style="padding-top: 20px;"></div>
                            <div class="flexbox">
                                <div class="item"><a href="{% url 'update'%}">사용자정보</a></div>
                                <div class="item"><a href="{% url 'mypageComment'%}">내가 단 댓글</a></div>
                                <div class="item"><a href="{% url 'mypageBlog'%}">내가 쓴 게시글</a></div>
                            </div>
                            
                            {% if error %}
                            {{ error }}
                            <br>
                            <br>
                            {% endif %}
                        <div class="col login-sec">
                            <h2 class="text-center">My Page</h2>
                            
                            <div class="container">
                                    <section id="recently">
                                        <div class="col">
                                            <div class="row">
                                                <div style="border-radius: 5px; border:2px dashed rgb(255, 118, 99); width:100%; ">
                                                        {% if error %}
                                                         {{ error }}
                                                         <br>
                                                         <br>
                                                         {% endif %}
                                                         <form method="POST" action="{% url 'update'%}">

                                                                {% csrf_token %}
                                                                <div class="row" style="height:50px;"></div>
                                                                <div class="form-group row">
                                                                  <label class="col-sm-4 col-form-label textfont" style="color:#DE6262;">아이디(ID): </label>
                                                                  <div class="col-5">
                                                                    <label class="col col-form-label textfont">{{ user.username }}</label>
                                                                  </div>
                                                                </div>
                                                                <br>
                                                                <div class="form-group row">
                                                                        <label class="col-sm-4 col-form-label textfont" style="color:#DE6262;">성별(Gender): </label>
                                                                        <div class="col-5">
                                                                          <label class="col col-form-label textfont">{% if user.gender == "W" %} 여성(Woman) {% else %} 남성(Man) {% endif %}</label>
                                                                        </div>
                                                                      </div>
                                                                      <br>
                                                                <div class="form-group row">
                                                                    <label class="col-sm-4 col-form-label textfont" style="color:#DE6262;">성(Last Name): </label>
                                                                    <div class="col-5">
                                                                        <label class="col col-form-label textfont">{{ user.last_name }}</label>
                                                                    </div>
                                                                </div>
                                                                <br>
                                                                <div class="form-group row">
                                                                        <label class="col-sm-4 col-form-label textfont" style="color:#DE6262;">이름(First Name): </label>
                                                                        <div class="col-5">
                                                                            <label class="col col-form-label textfont">{{ user.first_name }}</label>
                                                                        </div>
                                                                    </div>
                                                                <br>
                                                                <div class="form-group row">
                                                                        <label class="col-sm-4 col-form-label textfont" style="color:#DE6262;">생년월일(birthdate): </label>
                                                                        <div class="col-5">
                                                                            <label class="col col-form-label textfont">{{ user.birthdate | date:'c'}}</label>
                                                                        </div>
                                                                    </div>
                                                                <br>
                                                                <div class="form-group row">
                                                                        <label class="col-sm-4 col-form-label textfont" style="color:#DE6262;">비밀번호(Password): </label>
                                                                        <div class="col-5">
                                                                            <label class="col col-form-label textfont"> <input name="changingPassword" type="button" class="btn btn-primary" style="width:200px; height:30px; background:#DE6262; border:1.5px solid #DE6262; font-family: 'Gugi', cursive; font-size:15px;"  value="비밀번호 바꾸기"
                                                                                onclick="showPopup();"></label>
                                                                               
                                                                        </div>
                                                                    </div>
                                                                <br>
                                                                <div class="form-group row">
                                                                        <label class="col-sm-4 col-form-label textfont" style="color:#DE6262;">닉네임(Nickname): </label>
                                                                        <div class="col-5">
                                                                            <label class="col col-form-label textfont">{{ user.nickname }}</label>
                                                                        </div>
                                                                    </div>
                                                                <br>
                                                                <br><input class="btn btn-primary"  style="width:200px; height:40px; background:#DE6262; border:1.5px solid #DE6262; font-family: 'Gugi', cursive; font-size:20px;"  type="submit" value="Update!">
                                                            </form>
                                
                                                            <script language="javascript">
                                                                function showPopup() { window.open("{%url 'changePassword'%}", "a", "width=400, height=300, left=100, top=50"); }
                                                            </script>


                                                         <form method="POST" action="{% url 'login'%}">
                                                            {% csrf_token %}
                                                            <div class="row" style="height:50px;"></div>
                                                                <div class="form-group row">
                                                                  <label class="col-sm-4 col-form-label textfont" >아이디(ID): </label>
                                                                  <div class="col-5">
                                                                    <input class="form-control" placeholder="id" name="username" type="text" value="">
                                                                  </div>
                                                                </div>
                                                                <br>
                                                                <div class="form-group row">
                                                                        <label class="col-sm-4 col-form-label textfont" >비밀번호(Password): </label>
                                                                        <div class="col-5">
                                                                          <input class="form-control" placeholder="passward"name="password" type="password" value="">
                                                                        </div>
                                                                      </div>
                                                                      <br>
                                                                 
                                                                <div class="text-center" style="margin:30px 0 50px 0;">
                                                                    <input class="btn btn-primary" style="width:200px; height:40px; background:#DE6262; border:1.5px solid #DE6262; font-family: 'Gugi', cursive; font-size:20px;" type="submit" value="Sign In">
                                                                </div>
                                                             </form>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                </div>
                         </div>
                    </div>

                    
                </section>

        
    </div>
    <div class="containerright"></div>
</div>
{% endblock %}