{% extends 'base.html' %}

{% block content %}
<div class="container-fluid row" style="width:100%; margin:0; padding:0;">
    <div class="containerleft">
    </div>
    <div class="containerbody">
        <div class="container" style="margin:0,25px,25px,25px; width:100%;">
            <section id="recently">
                <div class="col">
                    <div class="row">
                        <div style="border-radius: 5px; border:1px dashed rgb(91,155,213); width:100%; ">
                            <h1 style="text-align: center;">내가 쓴 게시글</h1>
                            <div style="padding-top: 20px;"></div>
                            <div class="flexbox">
                                <div class="item"><a href="{% url 'update'%}">사용자정보</a></div>
                                <div class="item"><a href="{% url 'mypageComment'%}">내가 단 댓글</a></div>
                                <div class="item"><a href="{% url 'mypageBlog'%}">내가 쓴 게시글</a></div>
                            </div>
                            <table class="table table-hover">
                                <thead>
                                    <tr style="text-align: center;">
                                        <th scope="col">순번</th>
                                        <th scope="col">글제목</th>
                                        <th scope="col">글내용</th>
                                        <th scope="col">작성일자</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for post in posts.all %}
                                    <tr onclick="location.href='{% url 'test' post.id %}'" style="text-align: center;">
                                        <th scope="row">{{post.id}}</th>
                                        <td>{{post.title}}</td>
                                        <td>{{post.body| truncatechars:10}}</td>
                                        <td>{{post.date}}</td>
                                    </tr>

                                    {%endfor%}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <div class="containerright"></div>
</div>
{% endblock %}